.background-blue{
    background-color: blue;
    color: white;
    line-height: 50px;
    font-size: 23px;
   padding: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

small{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-center{
    text-align: center;
}
.color-blue{
    color: blue;
}
.title-main{
font-family: 'Lucida Sans',  sans-serif;
}

.background-black{
    background-color: black;
    color: white;
}


.bloco1{
    margin-top: 55px;
}