/*centralizando a tag main*/
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*criando uma classe de tema escuro*/
body.dark-mode {
  background-color: black;
  color: white;
}
